* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --cor0: rgb(0, 0, 0);
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(120, 120, 120);
    --cor3: rgba(237, 228, 228, 0.25);
    --cor4: rgba(237, 228, 228, 0.643);
    --cor5: #FF7E1B;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Kumbh Sans', sans-serif;
}

.container-imagem {
    width: 100%;
    height: 100%;
    background-image: url(../imagem/Banner-2.webp);
    background-size: cover;
    background-position: center;
    position: fixed;
}

form {
    background-position: center center;
    width: 30%;
    max-width: 900px;
    max-height: 600px;
    /* Definindo uma altura máxima */
    overflow-y: auto;
    /* Adicionando uma barra de rolagem vertical quando necessário */
    padding: 20px;
    background-color: var(--cor1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-destaque);
}

.fechar {
    height: 20px;
    width: 20px;
    margin-bottom: -25px;
    margin-left: 330px;
}

.section {
    margin-bottom: 20px;
}

.section h4 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor5);
    font-size: 1.4em;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 5px;

}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--cor5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff6c00;
}

div > h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#enviarBtn {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    text-decoration: none; 
    text-align: center;
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #enviarBtn:hover {
    background-color: #45a049;
  }
  