@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --cor0: rgb(000, 000, 000);
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(120, 120, 120);
    --cor3: rgba(237, 228, 228, 0.41);
    --cor4: rgba(237, 228, 228, 0.643);
    --cor5: #FF7E1B;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-destaque);
    overflow-y: scroll;
}

body > footer {
    margin-top: 20px;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav a {
    margin-right: 15px;
}

.logo {
    font-size: 2em;
    padding-left: 80px;
}

.cart-and-avatar {
    display: flex;
    align-items: center;
}

.fa-cart-shopping {
    font-size: 24px;
}

/* Estilos do campo de pesquisa */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-box button[type="submit"] {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.fa-search {
    font-size: 16px;
    color: black;
}

.fa-cart-shopping {
    margin-right: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: var(--cor5);
}

footer {
    background-color: var(--cor0);
    color: #fff;
    padding: 40px;
    height: 165px;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 400px;
}

.links-uteis {
    margin-left: 400px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.contact {
    margin-top: 10px;
}

.contact span {
    display: block;
    margin-bottom: 5px;
}

.footer-bottom {
    margin-left: 480px;
}

.card > p{
    padding-bottom: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    width: 40%;
}

#add-delivery-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    width: 18%;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 25px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.nova-entrega {
    padding: 5px;
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 39%; 
    max-width: 600px; 
    margin-left: 20px auto; 
}

label {
    margin-bottom: 5px; 
    margin-left: 25px;
    font-weight: bold; 
}

input[type="text"],
textarea {
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-size: 16px; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff; 
    border: none; 
    padding: 10px;
    border-radius: 4px; 
    font-size: 16px; 
    margin-left: 20px;
}

.novo-cartao {
    padding: 20px;
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 500px; 
    margin-left: 5px auto; 
}

#add-card-btn {
    background-color: #28a745; 
    width: 100px;
    color: white;
    border: none; 
    padding: 10px 20px;
    border-radius: 4px; 
    font-size: 16px;
    margin-bottom: 20px; 
    margin-left: 5px;
    transition: background-color 0.3s; 
}

input[type="submit"] {
    background-color: green; 
    color: #fff; 
    border: none; 
    padding: 10px; 
    border-radius: 4px; 
    font-size: 16px; 
    margin-top: 10px;
}

button {
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove as bordas padrão */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

#add-coupon-btn {
    background-color: #ffc107; /* Cor de fundo para o botão de adicionar cupom (amarelo) */
    color: #000; /* Cor do texto (preto) */
    margin-right: 10px; /* Espaço entre o botão de adicionar e o botão de enviar */
}

#add-coupon-btn:hover {
    background-color: #e0a800; /* Cor ao passar o mouse sobre o botão de adicionar cupom */
}

button[type="submit"] {
    background-color: green; 
    color: white; 
}

section > h3 {
    margin-bottom: 10px;
}