@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --cor0: rgb(000, 000, 000);
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(120, 120, 120);
    --cor3: rgba(237, 228, 228, 0.41);
    --cor4: rgba(237, 228, 228, 0.643);
    --cor5: #FF7E1B;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-destaque);
    overflow-y: scroll;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav a {
    margin-right: 60px;
}

.logo {
    font-size: 2em;
    padding-left: 80px;
}

a:hover {
    color: var(--cor5);
}

.card > p{
    padding-bottom: 5px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    width: 40%;
}

input[type="text"],
textarea {
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    font-size: 16px; 
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff; 
    border: none; 
    padding: 10px;
    border-radius: 4px; 
    font-size: 16px; 
    margin-left: 20px;
}

.novo-cartao {
    padding: 20px;
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 500px; 
    margin-left: 5px auto; 
}

#add-card-btn {
    background-color: #28a745; 
    width: 100px;
    color: white;
    border: none; 
    padding: 10px 20px;
    border-radius: 4px; 
    font-size: 16px;
    margin-bottom: 20px; 
    margin-left: 5px;
    transition: background-color 0.3s; 
}

input[type="submit"] {
    background-color: green; 
    color: #fff; 
    border: none; 
    padding: 10px; 
    border-radius: 4px; 
    font-size: 16px; 
    margin-top: 10px;
}

button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    width: 200px;
    margin-left: 45px;
    background-color: green;
}

button > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

section > h3 {
    margin-bottom: 10px;
}

.pedidos-pagar {
    width: 46%;
    height: 600px;
    background-color: white;
    margin-left: 650px;
    margin-top: -700px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #ccc; 
}

.pedido-item {
    padding: 10px;
}

.pedido-item > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pedido-item > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.preco-final {
    margin-left: 10px;
}

main {
    height: 120%;
}

.cupom {
    margin-left: 85px;
}

.cupom > form{
    margin-left: -5px;
}

#coupon-fields label {
    display: block;
    margin-bottom: 5px; /* Espaçamento entre o label e o input */
}

#coupon-fields input {
    display: block;
    width: 40%;
    margin-bottom: 10px; /* Espaçamento entre os inputs */
}

.enviar {
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    width: 240px;
    margin-left: 2px;
    background-color: green;
    color: white;
}