@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: rgb(000, 000, 000);
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(120, 120, 120);
    --cor3: rgba(237, 228, 228, 0.41);
    --cor4: rgba(237, 228, 228, 0.643);
    --cor5: #FF7E1B;
    --cor6: rgb(51, 51, 133);
}

main {
    margin-top: 20px;
    margin-left: 20px;
    min-height: 1110px; /* Define uma altura mínima */
    padding: 20px; /* Adiciona espaço interno */
    box-sizing: border-box; 
    margin-bottom: 10px;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav a {
    margin-right: 15px;
}

.logo {
    font-size: 2em;
    padding-left: 80px;
}

.cart-and-avatar {
    display: flex;
    align-items: center;
}

.fa-cart-shopping {
    font-size: 24px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-box button[type="submit"] {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.fa-search {
    font-size: 16px;
    color: black;
}

.fa-cart-shopping {
    margin-right: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: var(--cor5);
}

.caixa-principal {
    width: 1205px;
    height: 330px;
    border-radius: 5px;
    margin-left: 35px;
    margin-bottom: 30px;
}

.cabecalho {
    background-color: #F0F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.informacoes-pedito {
    height: 35px;
    padding-left: 10px;
    padding: 10px;
    display: flex;
}

.informacoes-pedito-valores {
    height: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.informacoes-pedito  p {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 220px;
    margin-bottom: 50px;
}

.data-entrega {
    margin-top: 20px;
}

img {
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
}

.imagem-e-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nome-produto {
    margin-top: -130px;
    margin-bottom: 5px;
    margin-left: 130px;
}

.status-produto {
    margin-left: 130px;
    margin-top: -15px;
}

.descricao-produto {
    margin-top: 5px;
    margin-left: 130px;
    width: 900px;
}

.quantidade-produto {
    width: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    margin-left: 85px;
    background-color: white;
}

.botao-devolucao {
    margin-top: -10px;
    margin-left: 130px;
    width: 100px;
    height: 25px;
}

.botao-trocar {
    margin-top: -25px;
    margin-left: 250px;
    width: 100px;
    height: 25px;
}

footer {
    background-color: var(--cor0);
    color: #fff;
    padding: 50px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 400px;
}

.links-uteis {
    margin-left: 400px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.contact {
    margin-top: 10px;
}

.contact span {
    display: block;
    margin-bottom: 5px;
}

.footer-bottom {
    margin-left: 480px;
}