@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --cor0: rgb(000, 000, 000);
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(120, 120, 120);
    --cor3: rgba(237, 228, 228, 0.41);
    --cor4: rgba(237, 228, 228, 0.643);
    --cor5: rgb(51, 51, 133);
    --cor6: #FF7E1B;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-destaque);
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav a {
    margin-right: 15px;
}

.logo {
    font-size: 2em;
    padding-left: 80px;
}

.cart-and-avatar {
    display: flex;
    align-items: center;
}

.fa-cart-shopping {
    font-size: 24px;
}

/* Estilos do campo de pesquisa */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-box button[type="submit"] {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.fa-search {
    font-size: 16px;
    color: black;
}

.fa-cart-shopping {
    margin-right: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: var(--cor6);
}

.container {
    max-width: 1200px;
    margin: 10px auto 50px;
    /* Adicionei mais 50px de margem inferior */
    padding: 0 20px;
    display: grid;
    /* Usando grid layout */
    grid-template-columns: repeat(2, 1fr);
    /* Definindo duas colunas */
    gap: 20px;
    /* Espaçamento entre os cartões */
}

.card {
    background-color: var(--cor1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 150px;
    border: 0.5px solid var(--cor4);
}

.card:first-child {
    grid-column: span 1;
    /* Faz o primeiro cartão ocupar duas colunas */
}

.card .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    color: var(--cor5)
}

footer {
    margin-top: 250px;
    background-color: var(--cor0);
    color: #fff;
    padding: 50px;
    height: 165px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin-left: 400px;
}

.links-uteis {
    margin-left: 400px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.contact {
    margin-top: 10px;
}

.contact span {
    display: block;
    margin-bottom: 5px;
}

.popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
}

.popupForm form {
    margin-bottom: 20px; /* Espaçamento entre o formulário e o botão de fechar */
}

.popupForm label {
    display: block; /* Coloca as etiquetas em uma nova linha */
    margin-bottom: 5px; /* Espaçamento entre etiquetas e campos de entrada */
}

.popupForm input[type="text"],
.popupForm select {
    width: 100%; /* Garante que os campos de entrada tenham largura total */
    padding: 8px; /* Preenchimento interno para os campos de entrada */
    margin-bottom: 10px; /* Espaçamento entre os campos de entrada */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

.popupForm button {
    padding: 10px 20px; /* Preenchimento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor ao passar por cima do botão */
}

.popupForm button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.popupForm button:focus {
    outline: none; /* Remove a borda de foco ao clicar no botão */
}

.popupForm button:last-of-type {
    margin-top: 10px; /* Espaçamento entre o botão de enviar e o botão de fechar */
}

.footer-bottom {
    margin-left: 480px;
}